<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\aboutStylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>



    <section id="up"></section>
    <section id="down"></section>
    <section id="left"></section>
    <section id="right"></section>



    <nav>
        <div class="logo">
            <h1 class="logoHeading"><a href="index.html">Music <br> Recommendation <br> System.</a></h1>
        </div>
        <ul class="navList">
            <li><a href="https://github.com/amideo-7/MusicRecommendationSystem.git">Code</a></li>
            <li><a href="https://www.aicrowd.com/challenges/spotify-million-playlist-dataset-challenge/dataset_files">Dataset</a></li>
            <li><a href="index.html">Home</a></li>
        </ul>
    </nav>



    <section id="about">
        <div class="intro">
            <h1 class="introHeading">
                <a href="https://open.spotify.com/track/7a1UiDLvw2yyuRPtANObXb?si=6b3462384bb64c43">Intro.</a>
            </h1>
    
            <p class="introDescription">
                Discovering new music has never been easier. Powered by cutting-edge 
                <a href="https://open.spotify.com/track/4uGY9CqDtGtaTTLg1cgsWD?si=de7283819d4f417e"><b><i>machine</i></b></a> 
                learning technology, Music Recommendation System is here to 
                <a href="https://open.spotify.com/track/3szf2z1Cy1QMrtHrbn8rz9?si=ea4b30f11e33453a"><b><i>elevate</i></b></a>
                your musical experience to <a href="https://open.spotify.com/track/2vXyMy4Txvev5dv0otXbUb?si=8077aaf1879d45b5"><b><i>new heights</i></b></a>.
                prepare to explore a world of <a href="https://open.spotify.com/track/2pFdf2vRg9p49amXUL3ZVm?si=9e0c77825b2e4c10"><b><i>melodies</i></b></a> 
                you never knew existed. From hidden gems to undiscovered artists, 
                let the system be your <a href="https://open.spotify.com/track/26o96Gp524dRjmjXsxvxNt?si=df29891d14aa4c70"><b><i>trusted</i></b></a> 
                companion on a journey of auditory exploration.
            </p>
        </div>

        <div class="intro">
            <h1 class="introHeading">
                <a href="https://open.spotify.com/track/095vdwIq7YaHZLKtfGBSbk?si=fb2e7fe2275c4189">Technology.</a>
            </h1>
    
            <p class="introDescription">
                This Music Recommendation System uses machine learning based Collaborative 
                <a href="https://open.spotify.com/track/3szf2z1Cy1QMrtHrbn8rz9?si=ea4b30f11e33453a"><b><i>Filter</i></b></a>,
                that predicts what a user like based on what other users, that are similar to that particular user, have liked.
                Collaborative Filter work with an interaction <a href="https://open.spotify.com/track/6hpHfuQ4MWaL92nAvsheBn?si=d7df94026df943ab"><b><i>matrix</i></b></a>
                , also called rating matrix. The aim of this algorithm
                is to learn a function that can predict if a user will benefit from an item-meaning the user will likely
                <a href="https://open.spotify.com/track/6ozSdLQYOBh6R2VlRb3t98?si=5d1f4f5b36a342d9"><b><i>listen</i></b></a>
                this item.
            </p>
        </div>

        <div class="intro">
            <h1 class="introHeading">
                <a href="https://open.spotify.com/track/1aS1uzcAC14lduwuNJZjqE?si=1ebd8f8dc0a64c87">Know me.</a>
            </h1>
            
            <table class="contact">
                <tr class="logos">
                    <td><a href="https://github.com/amideo-7"><img src="images\github.png"></a></td>
                    <td><a href="https://www.linkedin.com/in/aayush-sharma-646449204/"><img src="images\linkedin.png"></a></td>
                    <td><a href="https://github.com/amideo-7/Resume/blob/7d8891a65eec5771b8e1c80ef94407f3ba1ae752/AayushSharmaResume.pdf"><img src="images\resume.png" alt=""></a></td>
                </tr>
                <tr class="logoText">
                    <td><a href="https://github.com/amideo-7">Github</a></td>
                    <td><a href="https://www.linkedin.com/in/aayush-sharma-646449204/">LinkedIn</a></td>
                    <td><a href="https://github.com/amideo-7/Resume/blob/7d8891a65eec5771b8e1c80ef94407f3ba1ae752/AayushSharmaResume.pdf">Resume</a></td>
                </tr>
            </table>
            <br>
            <h3>Find Some Music In This Page</h3>
            
        </div>
    </section>

</body>
</html>

